<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Introduction to R and RStudio. Project management</td> </tr>
      <tr> <td>Morning break</td> </tr>
      <tr> <td>Seeking Help, Data Structures </td> </tr>
      <tr> <td>break</td> </tr>
      <tr> <td>Exploring Data Frames</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Subsetting Data</td> </tr>
      <tr> <td>TBD</td>  <td>Control Flow</td> </tr>
      <tr> <td>TBD</td>  <td>Lunch break</td> </tr>
      <tr> <td>TBD</td>  <td>Creating Publication-Quality Graphics with ggplot2</td> </tr>
      <tr> <td>TBD</td>  <td>Afternoon break</td> </tr>
      <tr> <td>TBD</td>  <td>Vectorization</td> </tr>
      <tr> <td>TBD</td>  <td>Functions Explained</td> </tr>
      <tr> <td>TBD</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Writing Data</td> </tr>
      <tr> <td>TBD</td>  <td>Data Frame Manipulation with dplyr</td> </tr>
      <tr> <td>TBD</td>  <td>Morning Break</td> </tr>
      <tr> <td>TBD</td>  <td>Data Frame Manipulation with tidyr</td> </tr>
      <tr> <td>TBD</td>  <td>Lunch break</td> </tr>
      <tr> <td>TBD</td>  <td>Writing Good Software</td> </tr>
      <tr> <td>TBD</td>  <td>Wrap-up</td> </tr>
      <tr> <td>TBD</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>TBD</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
