<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>Project management using RStudio</td> </tr>
      <tr> <td>Morning break</td> </tr>
      <tr> <td>Seeking Help</td> </tr>
      <tr> <td>Data Structures</td> </tr>
      <tr> <td>break</td> </tr>
      <tr> <td>Exploring Data Frames</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Subsetting Data</td> </tr>
      <tr> <td>Control Flow</td> </tr>
      <tr> <td>Morning break</td> </tr>
      <tr> <td>Creating Publication-Quality Graphics with ggplot2</td> </tr>
      <tr> <td>break</td> </tr>
      <tr> <td>Vectorization</td> </tr>
      <tr> <td>Functions Explained</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>Writing Data</td> </tr>
      <tr> <td>Data Frame Manipulation with dplyr</td> </tr>
      <tr> <td>Morning break</td> </tr>
      <tr> <td>Data Frame Manipulation with tidyr</td> </tr>
      <tr> <td>break</td> </tr>
      <tr> <td>Writing Good Software</td> </tr>
      <tr> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
